ul {
  list-style: none;

}

.container {
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  padding: 0 1rem;
}
.navbar {
 
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: purple;
  
}

.navbar .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.navbar ul {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar a {
 text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 20px;
  font-weight: bold;
  color: white;
  
}

.navbar a:hover {
   background: #00abe5;;
}
.section-a {
  margin: 2rem 0;
  padding-top: 5vh;
  padding-bottom:12vh;
  
}
#title{
  font-family:Sans-serif;
  font-size:50px;
  background-color:brown ;
  color:white;
  text-align:center;
}
h2{
	font-size:25px;
	text-align:center;
	font-style:bold;
	color:white;
}
#survey-form{
  
  padding:1em;
  margin:0 auto 0 auto;
  border:5px solid skyblue;
  position:absolute;
  top:55%;
  left:55%;
  transform:translate(-50%,-45%);
  background:darkslategray;
  opacity:0.8;
  border-radius:4px;
  width:60%;
}
.row-tab{
  display:block;
  padding-top:20px;
}
.name{
  display:inline-block;
  width:35%;
  text-align:right;
  font-size:25px;
  color:white;
}
.input{
  display:inline-block;
  width:60%;
  text-align:left;
  font-size:20px;
}
.xy{
  width:250px;
  height:50px;
  background-color:gray;
  font-size:25px;
  color:white;
}
body
{
	margin:0;
	padding:0;
	background-image:url('road.jpg');
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: 'Poppins', sans-serif;
}
